<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Tri.js</h1>
            <hr>
            <p>Join the largest developer community in the Tri-Cities!  Meetings on the 2nd Tuesday of every month where you can meet friends, learn new tricks, and eat great food while winning free stuff!</p>
            <a href="https://meetup.com/tri-js" class="btn btn-primary btn-xl page-scroll">Sign up and join the local developer community!</a>
        </div>
    </div>
</header>
